$content-desktop-padding        = 1em
$content-tablet-padding         = 1em
$content-mobile-padding         = 1em

$font-size-base           = 12px
$code-font-size           = 10px
$line-height-base           = 1.6
$font-size-headings-step    = 3px
